Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
python-engineio==4.9.1
python-socketio==5.11.3
Werkzeug==3.0.3
eventlet==0.36.1
greenlet==3.1.1
gunicorn==23.0.0
